@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
  }

  #root{
      height: 100%;
      background-size: cover;
  }

  *:focus {
    outline: none;
}
 

