
.adoptar-container {
    background-color: #d9dbf1;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }

.adoptar-sidebar {
    background-color: #ffffff;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-form-container {
    margin: 0 auto;
    padding-bottom: 1rem;
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-form {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.4rem;
    width: 150px;
}


.sidebar-filter-container {
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: center;
}

.sidebar-filters{

    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sidebar-title{
    font-weight: bold;
}

.sidebar-span{

    font-size: 1.2rem;
}

.sidebar-title,.sidebar-span {
    padding: 1rem;
    
}


.adoptar-card-container{
    text-align: center;
    width: 80%;
    margin-left: 4rem;
    margin: 2rem;
    display: grid;
    grid-gap: 1.5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
}

.adoptar-single-card {
    max-height: 382px;
    background-color: #ffffff;
    border-radius: 0.7rem;
    margin: 0.5rem auto;
    box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.adoptar-single-card:hover{
    transform: scale(1.02);
}

.adoptar-img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
}

.adoptar-single-card-title{
    padding: 1rem;
    font-weight: bolder;
    background-color: #DBF4A7;
    margin-bottom: 0;
}

.adoptar-description {
    padding: 0.5rem;
}

.adoptar-btn {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid  #7d84b2;
    background: transparent;
    color:  #7d84b2;
    border-radius: 0.7rem;
    transition: background 200ms ease-in,
    color 200ms ease-in;
}

.adoptar-btn:hover{
    background-color: #7d84b2;
    color: #ffffff;
}

.button {
    width: 170px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
    cursor: pointer;
    display: inline-block;
  }

  .button-2 {
    background-color: transparent;
    border: 3px solid #ff0251;
    color: #ff0251;
    transition: .3s;
  }

  .button-1 {
    background-color: transparent;
    border: 3px solid #1697be;
    color: #1697be;
    transition: .3s;
  }

  
  .button:hover {
    animation: pulse 1s infinite;
    transition: .3s;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
  }

  .title-f {
    color: #ff0251;
    padding-left: 5px;
  }

  .title-m {
    color: #43cffa;
    padding-left: 5px;
  }

  .form-cont {
    display: flex;
    flex-direction: column;
  }

  .sidebar-btn{
    width: 50%;
  }