.single-dog-main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}

.volver {
  padding: 1rem;
}

.form-btn {

    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    width: 200px;
    margin: 1rem;
    border: 2px solid  #7d84b2;
    background: transparent;
    color:  #7d84b2;
    border-radius: 0.7rem;
    transition: background 200ms ease-in,
    color 200ms ease-in;
}

.form-btn:hover{
    background-color: #7d84b2;
    color: #ffffff;
}

.single-dog-form {
  display: flex;
  flex-direction: column;
}

.single-dog-container{

  background-color: lavender;
  max-height: 100%;
  height: 100%;
  min-height: 400px;
  width: 60%;
  display: flex;
  border-radius: 0.7rem;
  margin: 1rem auto;
  overflow: hidden;
  justify-content: center;
  box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.5);
}

.single-dog-img-cont {
  display: flex;
  width: 50%;
  max-height: 420px;
}

.single-dog-img{
  object-fit: cover;
  max-width: 100%;
}

.single-dog-text-cont {
  width: 50%;
  background-color: #ffffff;
}

.single-dog-bottom {
  background-color:#f9f9ed;
  text-align: center;
  border: 1px solid black;
  border-radius: 1rem;
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0.8rem auto;
}

.single-dog-text-cont{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.single-dog-text {
  display: flex;
  flex-direction: column;
  height: 75%;
  margin: 0.9rem;
}

.single-dog-text span {
  font-size: 20px;
  padding: 0.4rem;
}

.single-dog-text-cont > h2 {
  background-color: #dbf4a7;
  height: 20%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-dog-bottom * {
  padding: 0.7rem;
}

.single-dog-bottom > form {
  padding-top: 2rem;
}

.nextbtn {
  border: 1px solid black;
  background-color: #dbf4a7;
  outline:none;
  height: 40px;
  width: 30px;
  border: none;
}

.not-logged{
  margin: 10px;
  padding: 10px;
}

.not-logged h5{
  color: #7d84b2;
  font-weight: 900;
}
